body {
    background-color: darkmagenta;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 80px;
    font-weight: 200;
    font-variant :small-caps;
    font-style: italic;
    line-height: 100px;
}