body {
    background-color: cornflowerblue;
}

h1{
    color: brown;
    text-align: justify;
    text-indent: 10%;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 20px;
}
a{
    text-decoration: none;
}